<% sidebar_items << capture do -%>
  <div id="ead_sidebar">
    <div id="<%= @document["eadid_s"] %>_toc" class="ead_toc"></div>
  </div>
<% end -%>

<%= render_document_partial document, :index %>

<h2>Solr document</h2>
<dl class="defList">
<% @document.each_key do |field|  %>
  <dt><%= field.to_s %></dt>
  <dd><%= @document[field] %></dd>

<% end %>
</dl>
